.mainContainer{
    width:1200px;
    display: flex;
    flex-direction: column;
    align-items:center;

    padding:16px;
}

.navigation{
    background-color: yellow;
    width:20%;

    display: flex;
    justify-content: space-between;

    padding:16px;

    border-radius: 16px;
    position: relative;
}

.navigation *{
    font-weight: bold;
}

.totalCartAmount{
    position: absolute;

    left: calc(100% - 16px);
    bottom: calc(100% - 20px);
    background-color: red;

    border: solid black 1px;
    height:24px;
    width: 24px;
    text-align: center;
    border-radius: 50%;
}