.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    gap: 12px;
    padding:12px;
}

.photoContainer{
    height:300px;
    width:150px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.productCardHeader{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.productCardHeader span:nth-child(1){
    text-align: center;
}

.quantityInput{
    font-size: 20px;
    width:50px;
    border: 0;
    text-align: center;
    padding: 2px;
    padding-bottom: 3px;
}

.changeQuantityButton,.addToCartButton{
    font-size: 20px;
    border: 0;
}

.changeQuantityButton:nth-of-type(1){
    background-color: red;
}
.changeQuantityButton:nth-of-type(2){
    background-color: green;
}

.quantityContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.addToCartButton{
}