<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>
    <h1>Home</h1>

  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <button type="submit">SUBMIT</button>
  </form>

  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">SUBMIT</button>
  </form>


</body>
</html>