body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
}

main{
    max-width: 1200px;
    overflow: clip;
}

section{
    margin:64px;
}

.contact-text img{
    height:24px;
    margin-right: 8px;
}

.contact-photo{
    width:55%;
    background-image: url("laugh.jpg");
    height:400px;

    background-size: cover;
    background-position: center;
}

.contact-me{
    display: flex;
    justify-content: space-between;
    background-color: #417dc1;
    margin:0;
    padding:64px;
    color:white;
}

.contact-text > *{
    margin-top:16px;
}

.contact-text .socials img:nth-child(1){
    margin-left: 0;
}

.svg-contact-container{
    display:flex;
    align-items: center;
}

section:nth-child(2){
    padding-top:24px;
}

.socials img{
    height:100%;
}

.project{
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.my-work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap:32px;
}

.screenshot-area{
    height:60%;
    background-color: navy;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content:center;
}

.project-description-area{
    margin: 16px;
}

.project-header{
    display:flex;
    align-items: center;
    margin-bottom: 16px;
}

.project-header img{
    height:24px;
}

.project-header span{
    margin-right: auto;
}

.tilted-background{
    background-color: #417dc1;
    height:45vh;
    width:100%;
    position:absolute;

    z-index: -1;
    transform: skewY(-0.15rad);
    transform-origin: bottom left;
}

.about-me{
    background-color: white;
    display: flow-root;
    font-size: 1.25rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.photo-container{
    float:left;
    position:relative;
    width: 290px;
    height:320px;
    background-size: cover;
    background-position: center;
    background-image: url("photo.jpg");

    transform: scale(1.3);
    transform-origin: left;

    margin-right:96px;
}

.about-me-text{
    margin:24px;
}

.photo-container h3{
    color:white;
    position: absolute;
    bottom:0px;
}

.socials{
    height:50px;
    margin-left:auto;
    display:flex;
}

.socials img:nth-child(1){
    margin-left: auto;
}

@media (max-width:1000px){
    body{
        
    }

    .photo-container{
        transform-origin: bottom;
        transform: scale(1.35); /*rm*/
        margin-right:64px; 
        width: 240px; /*rm*/
        height: 270px; /*rm*/
    }

    .about-me{
        margin-top:124px;
        padding-bottom: 32px;
    }

    .about-me-text h2{
        margin-top: 96px;
        text-align: center;
    }

    .about-me .socials{
        display:none;
    }

    .photo-container h3{
        top: 0px;
        left: 90%;
        width: fit-content;
        white-space: nowrap;
    }

    .my-work{
        grid-template-columns: 1fr 1fr;
    }

    section:nth-child(2) {
        padding-top: 0;
    }
}

@media(max-width:500px){
    body{
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:48px;
        box-shadow: none;
    }

    .photo-container{
        margin:0;
        transform: none;
        height:480px;
        width:100%;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }

    .about-me-text h2{
        margin-top:0;
        
    }
    
    .about-me .socials{
        margin-right: auto;
        display: flex;
    }

    .photo-container h3{
        left:0;
        top:auto;
        font-size: 4rem;
        margin-bottom:16px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        white-space: break-spaces;
    }

    .about-me-text{
        margin-left:0;
        margin-right: 0;
    }

    .socials img:nth-child(3){
        margin-right: auto;
    }

    .my-work{
        grid-template-columns: 1fr;
    }

    .contact-me{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 48px;
        font-size: 1.3rem;
    }

    .contact-me h1{
        text-align: center;
    }

    .contact-text{
        margin:24px;
    }

    .contact-me .socials img:nth-child(1) {
        margin-left: auto;
    }

    .contact-photo{
        width:auto;
    }

    section:nth-child(2) h1{
        text-align: center;
    }

    .svg-contact-container img{
        display:none;
    }
}
