@font-face {
    font-family: "Norse Bold";
    src: url("assets/Norse-Bold.otf");
}

body{
    display:flex;
    justify-content: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    height:100vh;
    width:100vw;
    padding:0;
    margin:0; 
}

.content-container{
    display:flex;
    width:clamp(1000px, 100%, 1400px);
    min-height:700px;
}

input{
    display:block;
    height:25px;
    width: 250px;
    margin-right:50px;
    margin-bottom:10px;
    border:solid #E5E7EB 1px;
    border-radius: 5px;
}

label{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}

.inputs-container{
    display:flex;
    flex-wrap: wrap;
}

.phrase-container,.button-container{
    background-color: #F6F7F8;
}

.picture-container{
    background-image: url("assets/image.jpeg");
    width:25%;
    height:100%;
    background-size: cover;
    position:relative;
    min-width:400px;
}

.text-container{
    display:flex;
    flex-direction: column;
    overflow:hidden;
}

.phrase-container{
    font-weight: 600;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.phrase-container,.middle-container,.button-container{
    padding-left:30px;
}

.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    height:15vh;
    min-height: 100px;
    width:100%;
    top:18%;
    display:flex;
    color:white;
    justify-content: center;
}

img[src="assets/logo.png"]{
    height:80%;
    align-self:center;
}

.logo-text{
    align-self: center;
    font-family: "Norse Bold";
    font-size: 5rem;
}

.credits{
    position:absolute;
    bottom:0.5%;
    color:white;
    width:100%;
    text-align: center;
    font-size: 0.7rem;
}

a{
    color:white;
}

.phrase-container p{
    width: clamp(45ch, 80%, 60ch);
}

label{
    letter-spacing: 0.2em;
}

.middle-container{
    box-shadow: 0px 5px 5px lightgrey;
    position:relative;
    min-width:800px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button{
    height:40px;
    width:200px;
    margin-top:25px;
    color:white;
    font-weight: 500;
    background-color: #596D48;
    border-radius: 5px;
    border:none;
    box-shadow: 3px 3px 3px lightgrey;
    font-size:1rem;
}

span{
    display:block;
    margin-top:40px;
    font-weight: 500;
}

p{
    font-weight:500;
    font-size: 1.5rem;
}

.login{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.middle-container > p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.phrase-container{
    height:33%;
    flex-shrink:0;
}

.middle-container,.button-container{
    height:50%;
}

form{
    height:100%;
}

input:focus{
    box-shadow: 1px 1px 3px lightgrey;
    border: 2px solid lightblue;
    outline: none;
}

input:invalid:focus{
    border: 2px solid lightcoral;
}

input[type='password']:invalid{
    border: 2px solid lightcoral;
}