<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join Club</h1>
    <% if (typeof error !== "undefined") { %>
        <h3>Wrong secret key!</h3>
    <% } %>
    <form action="/join-club" method="POST">
        <input type="text" name="secret">
        <button type="submit">Try</button>
    </form>
</body>
</html>