#root{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 20px;
}

body{
    margin: 0;
    background-color: navy;
}

h1{
    color: white;
}