@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: olivedrab;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

span{
    display: block;
}

header,img{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

img{
    /*width:256px;*/
     max-width: 100%;
     box-sizing: border-box;
}

img:hover{
    background: rgba(148, 113, 220, 0.6);
    cursor: wait;
}

.cards{
    display: grid;
    gap:16px;
    grid-template-columns: repeat(4, 250px);
    align-items: center;
    justify-items: center;
}

@media (max-width:1100px) {
    .cards{
        grid-template-columns: repeat(4, 196px);
    }
}

@media (max-width:850px) {
    .cards{
        grid-template-columns: repeat(4, 124px);
    }
    
    img{
        padding:16px;
    }
}
    